
.nav-menu {
    background-color: #ccc;
}

ul {
    list-style: none;
    margin-bottom: 50px;
    width: 100%;
    padding: 10px;
}

li { 
    display: inline;
    padding: 10px;
}

li a {
    color: #fff;
}

li a:hover {
    color: #ddd;
}